<% var data = {
title: "Наши преимущества",
tel: "+7 (911) <span>928-51-61</span>",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/banner.html').default)(data) %>

<div class="container">
    <h1>Наши преимущества</h1>
    <ol class="listAvg">
        <li><span>Круглосуточная поддержка водителей. Бывает так, что Клиент может указать неточный адрес, или точный адрес вовсе отсутствует. Наши операторы круглосуточно помогают водителям точно находить адреса и радовать клиентов пунктуальностью и сервисом!</span></li>
        <li><span>Предоставляем БОЛЬШИЕ скидки на бензин. Оплата топлива балансом Яндекс Таксометра</span></li>
        <li><span>Для наших водителей доступны все скидки и бонусы от наших партнеров (Бесплатные мойки автомобиля, помощь на дорогах, скидки на обслуживание автомобиля в автосервисах и многое другое)</span></li>
        <li><span>Помощь в получении лицензии и полное документальное обеспечение. Вам не придется заниматься бумажной работой самостоятельно, мы все сделаем за Вас.</span></li>
        <li><span>Минимальная комиссия и возможность зарабатывать больше. Вы сами решаете, сколько времени уделять работе, и контролируете свой доход.</span></li>
        <li><span>Ежедневные выплаты наличными</span></li>
        <li><span>Ежедневные выплаты на карту</span></li>
    </ol>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>