<% var data = {
title: "Брендирование Яндекс.Такси",
tel: "+7 (911) <span>928-51-61</span>",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/banner.html').default)(data) %>

<div class="container">
    <div class="plus picture-bottom">
        <div class="lighbox-title">брендирование Яндекс Такси</div>
        <img alt="" src="./img/branding.jpg">
        <div class="plus-bt-wrap plus-bt-wrap--center clearfix">
            <div><a class="plus-bt plus-bt-green" data-toggle="modal" href="http://aero-in.ru/shop/brendirovanie-yandex-taxi-gett.html#claim">Заказать <span class="hide">брендирование автомобиля</span></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="branding">
                <div class="branding__title"><span class="branding__number">1</span> Водитель оставляет заявку на брендирование самостоятельно.</div>
                <p>На данный момент для получения ПРИОРИТЕТА в распеределении заказов необходимо брендирование автомобиля и установка Лайтбокса (светового короба) на автомобиль</p>
                <p class="branding__icon branding__icon--check">Приоритет закрепляется за автомобилем (могут работать несколько водителей, приоритет будет у каждого) .</p>
                <p class="branding__icon branding__icon--info">Гарантия минимальной стоимости поездки 140 руб.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="branding">
                <div class="branding__title"><span class="branding__number">2</span> Подается заявка на брендирование таксопарком. </div>
                <p>В данном случае производится оклейка и установка светового короба.</p>
                <p class="branding__icon branding__icon--check">Приоритет действует только в случае полного брендирования (оклейка+лайтбокс) и закрепляется за таксопарком, который подавал заявку на брендирование</p>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="text-center">Стоимость брендирования - 2100 руб.</p>
        </div>
    </div>
    <div class="plus picture-bottom">
        <div class="lighbox-title">Лайтбокс Яндекс Такси</div>
        <div class="lighbox__img">
            <div class="lighbox__text">
                <b>Бонусы от Яндекс.Такси</b>
                доплата до мининимальной<br> стоимости 140 руб.
            </div>
            <img alt="" src="./img/lightbox-main.jpg">
        </div>
        <div class="plus-bt-wrap clearfix">
            <div>
                <div class="plus-bt plus-bt-blue">
                    <div class="plus-bt-price"><i>2000</i> рублей</div>
                </div>
            </div>
            <div><a class="plus-bt plus-bt-green" data-toggle="modal" href="http://aero-in.ru/shop/brendirovanie-yandex-taxi-gett.html#claim">Купить <span class="hide">лайтбокс</span></a></div>
        </div>
    </div>
    <div class="lightbox-5 row text-center">
        <div class="col-sm-2">
            <div class="title-medium">Габариты</div>
            <div>Длинна: 1000 мм.<br>
                Ширина: 230 мм.<br>
                Высота 235 мм.
            </div>
        </div>
        <div class="col-sm-2">
            <div class="title-medium">Магнитная система</div>
            <div>Универсальная,<br>
                багажная система крепления
            </div>
        </div>
        <div class="col-sm-2">
            <div class="title-medium">Подсветка</div>
            <div>Светодиодная лента<br>
                CRS SMD5050 NN
            </div>
        </div>
        <div class="col-sm-2">
            <div class="title-medium">Цвет</div>
            <div>Белый</div>
        </div>
        <div class="col-sm-2">
            <div class="title-medium">Материал</div>
            <div>Полистирол</div>
        </div>
        <div class="col-sm-2">
            <div class="title-medium">Оклейка</div>
            <div>Яндекс Такси</div>
        </div>
    </div>
    <div class="plus picture-bottom">
        <div class="lighbox-title">брендирование Gett</div>
        <img alt="" src="./img/branding-gett.jpg">
        <div class="plus-bt-wrap plus-bt-wrap--center clearfix">
            <div><a class="plus-bt plus-bt-green" data-toggle="modal" href="http://aero-in.ru/shop/brendirovanie-yandex-taxi-gett.html#claim">Заказать <span class="hide">брендирование автомобиля</span></a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="branding">
                <div class="branding__title"><span class="branding__number">1</span> Водитель оставляет заявку на брендирование самостоятельно.</div>
                <p>На данный момент для получения ПРИОРИТЕТА в распеределении заказов необходимо брендирование автомобиля.</p>
                <p class="branding__icon branding__icon--check">Приоритет закрепляется за автомобилем (могут работать несколько водителей, приоритет будет у каждого) .</p>
                <p class="branding__icon branding__icon--info">Гарантия минимальной стоимости поездки 230 руб.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="branding">
                <div class="branding__title"><span class="branding__number">2</span> Подается заявка на брендирование таксопарком. </div>
                <p>В данном случае производится оклейка и установка светового короба.</p>
                <p class="branding__icon branding__icon--check">Приоритет действует только в случае полного брендирования (оклейка+лайтбокс) и закрепляется за таксопарком, который подавал заявку на брендирование</p>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="text-center">Стоимость брендирования - 0 руб.</p>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
