<% var data = {
title: "Контакты",
tel: "+7 (911) <span>928-51-61</span>",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/banner.html').default)(data) %>

<div class="container">
    <h1>Контакты</h1>
    <h4>Адрес</h4>
    <p><b>Офис</b>: г. Санкт-Петербург, Лиговский пр., д. 50, кор. 13, офис 18 (2 этаж)</p>
    <p><b>График работы офиса</b>: пн-пт 11:00 - 19:00</p>
    <h4>Телефон</h4>
    <p>+7 (812) 647-19-17</p>
    <p>8 (800) 350-05-23&nbsp;(звонки по России бесплатно)</p>
    <h4>E-mail</h4>
    <p><a href="mailto:info@aero-in.ru">info@aero-in.ru</a></p>
    <p><b>WhatsApp и Viber</b>: для онлайн заявки +7(981)917-74-77</p>
    <p>Вам не обязательно приезжать к нам в офис, Вы можете просто отправить нам документы.</p>
    <h4>Реквизиты компании</h4>
    <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АЭРО-ИН"</p>
    <p>Юридический адрес организации 191144, РОССИЯ, Г САНКТ-ПЕТЕРБУРГ, УЛ МОИСЕЕНКО, 22, Б, ПОМ 20Н, ОФ 22</p>
    <p>ИНН 7842139430</p>
    <p>ОГРН 1177847259567</p>
    <p>КПП 784201001</p>
    <p>Расчетный счет 40702810410000170393</p>
    <p>Банк АО "ТИНЬКОФФ БАНК"</p>
    <p>Корр.счет банка 30101810145250000974</p>
    <p>БИК банка 044525974</p>
    <p>Ген. директор Горчаков Н.А.</p>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>