<% var data = {
title: "Работа в такси на своем авто, отзывы - помощь оформления лицензии в СПб",
tel: "+7 (911) <span>928-51-61</span>",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/banner-home.html').default)(data) %>

<div class="container-fluid">
  <div class="row partners">
    <div class="col-sm-4 col-md-20">
      <div class="logo-partner">
        <img src="img/gett.png" alt="Gett">
      </div>
      <a href="podklyuchenie-k-gett.html">
        <div class="info-partner img-1">
          <div class="title">Подключение<br> к Gett</div>
          <ol>
            <li>Заполняете свои данные на сайте и подгружаете документы</li>
            <li>Мы регистрируем вас в течение 19 минут</li>
            <li>Начинаете зарабатывать</li>
          </ol>
          <div class="commission">
            Комиссия c заказов
            <span>Gett - 2%</span>
          </div>
          <div class="btn-blue">Подключиться к<span><br></span> Gett</div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-20">
      <div class="logo-partner">
        <img src="img/logo.png" alt="МИР" height="70px">
      </div>
      <a href="rabota-v-taxi.html">
        <div class="info-partner img-2">
          <div class="title">Аренда<br> и работа в такси</div>
          <div class="coop">
            <div class="coop__item coop__item--car">
              <div class="coop__body">
                <div class="coop__title">Работа</div>
                <div class="coop__text">
                  <p>заработок водителя от 50%</p>
                </div>
              </div>
            </div>
            <div class="coop__item coop__item--keys">
              <div class="coop__body">
                <div class="coop__title">Аренда</div>
                <div class="coop__text">
                  <p>новые автомобили от 1 200р/сутки</p>
                </div>
              </div>
            </div>
          </div>
          <span class="btn-blue">Подробнее<br> о сотрудничестве</span>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-20">
      <div class="logo-partner">
        <img src="img/ya-taxi.png" alt="Яндекс.Такси">
      </div>
      <a href="podklyuchenie-k-yandex-taxi.html">
        <div class="info-partner img-3">
          <div class="title">Подключение<br> к Яндекс.Такси</div>
          <div class="coop">
            <ol>
              <li>Оставляете заявку на сайте</li>
              <li>Отправляете документы</li>
              <li>Начинаете зарабатывать</li>
            </ol>
            <div class="commission">
              Комиссия c заказов
              <span>Я.Такси - 2%</span>
            </div>
          </div>
          <span class="btn-blue">Подключиться<br> к Яндекс.Такси</span>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-20">
      <div class="logo-partner">
        <img src="img/bolt.jpg" alt="Bolt">
      </div>
      <a href="/podklyuchenie-k-bolt.html">
        <div class="info-partner img-2">
          <div class="title">Подключение<br> к Bolt</div>
          <div class="coop">
            <ol>
              <li>Оставляете заявку на сайте</li>
              <li>Отправляете документы</li>
              <li>Начинаете зарабатывать</li>
            </ol>
            <div class="commission">
              Комиссия c заказов
              <span>Bolt - 2%</span>
            </div>
          </div>
          <span class="btn-blue">Подключиться <span><br></span>к Bolt</span>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-20">
      <div class="logo-partner">
        <img src="img/logo.png" alt="MИР" height="70px">
      </div>
      <a href="brendirovanie-yandex-taxi-gett.html">
        <div class="info-partner img-4">
          <div class="title">Брендирование, лайтбоксы</div>
          <div class="coop text-center">
            <div class="coop__item">
              <div class="coop__body">
                <div class="coop__text">
                  <p>Брендирование Яндекс.Такси, Gett</p>
                </div>
              </div>
            </div>
            <div class="coop__item text-center">
              <div class="coop__body" style="margin: 0 auto">
                <div class="coop__text">
                  <p>от 0 до 2700р</p>
                </div>
              </div>
            </div>
          </div>
          <span class="btn-blue">Подробнее<br> о брендировании</span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="ico-block-5">
    <div class="ico-1">Свободный график<span>Вы сами решаете когда и сколько работать!</span></div>
    <div class="ico-2">Никаких планов<span>Мы не ставим дневных / суточных / недельных / месячных планов!</span></div>
    <div class="ico-3">Низкая комиссия<span>Самая низкая комиссия от Генерального Партнера!</span></div>
    <div class="ico-5">Быстро подключим<span>Подключим Вас за 14 минут без визита в офис.</span></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a data-toggle="modal" data-target="#claim" href="#" class="btn-big">Задать вопрос</a>
    </div>
    <div class="col-sm-6">
      <a data-toggle="modal" data-target="#claim" href="#" class="btn-big">Перезвонить мне</a>
    </div>
  </div>
</div>
<!--<div class="road">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-4">-->
        <!--<div class="ico-car ico-1">-->
          <!--<span>Лицензия на такси</span>-->
          <!--Помогаем получить лицензию такси.<br>-->
          <!--Оформляем БЕСПЛАТНО-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<div class="ico-car ico-2">-->
          <!--<span>Скидки на бензин</span>-->
          <!--Предоставляем БОЛЬШИЕ скидки на бензин нашим водителям-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<div class="ico-car ico-3">-->
          <!--<span>Круглосуточная поддержка водителей</span>-->
          <!--Наши операторы круглосуточно помогают водителям-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <h2 class="text-center">Наши преимущества</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="plus">
        <img src="img/content_1.jpg" alt="">
        <span>Официальные Партнеры крупнейших агрегаторов такси России</span>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="plus">
        <img src="img/content_2.jpg" alt="">
        <span>Самая низкая комиссия без скрытых условий</span>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="plus">
        <img src="img/map.jpg" alt="">
        <span>Присутствие в 18 городах России</span>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="plus">
        <img src="img/content_3.jpg" alt="">
        <span>Собственное производство брендирования, лайтбоксов</span>
      </div>
    </div>
  </div>
  <div class="row text-2col">
    <div class="col-sm-12">
      <h3>Подключение к такси на личной машине</h3>
      <p>Компания "МИР" является одним из лидеров среди партнеров крупнейших такси-агрегаторов (Gett, Яндекс.Такси, Ситимобил, Taxify). Бесспорно низкая комиссия парка-партнера - наш приоритет и гордость. А главное - все это без каких-либо тайных уловок и скрытых платежей.</p>
      <p>Сервисы такси не работают с водителями напрямую, поэтому для подключения необходимо выбрать парк-партнера, естественно, не забывая о том, чтобы он был хорошим и надежным. Крупнейшим партнером Gett, Яндекс.Такси, Ситимобил и Taxify в Санкт-Петербурге является ООО "МИР".</p>
      <p>Мы осуществляем простое и быстрое подключение к такси по, пожалуй, самым выгодным условиям на рынке. Скидки у партнёров - АЗС, мойки, связь - само собой разумеещееся.</p>
      <p>Если у вас нет собственного автомобиля - не беда. Мы предоставим автомобиль в аренду по вашим потребностям! </p>
      <p>Увеличить количество заказов - легко! ООО "МИР" - авторизованный подрядчик по брендированию сервисов Яндекс.Такси и Gett. Опять же - с самыми сладкими условиями.</p>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
  <!--<div class="ico-block-reasons">-->
    <!--<h2 class="text-center">6 причин работать с нами</h2>-->
    <!--<div class="ico-1">Честные отношения</div>-->
    <!--<div class="ico-2">Статус Генерального Партнера</div>-->
    <!--<div class="ico-3">Самая низкая комиссия</div>-->
    <!--<div class="ico-4">Отсутствие скрытых условий</div>-->
    <!--<div class="ico-5">4 года на рынке</div>-->
    <!--<div class="ico-6">Всегда на связи</div>-->
  <!--</div>-->

  <p>&nbsp;</p>
  <div class="reviews">
    <h2 class="text-center">Отзывы от наших водителей</h2>
    <div>
      <p class="author author-1">
        Алексей Васильев<br>
        <span class="sub">водитель Gett</span>
      </p>
      <p class="pro">Работаю с МИР больше года, проблем нет, всегда копейка в копейку и в срок! </p>
    </div>
    <div>
      <p class="author author-2">
        Рустам Кадиров<br>
        <span class="sub">водитель Gett, Яндекс.Такси</span>
      </p>
      <p class="pro">Взял в аренду Skoda Rapid, зарабатываю больше чем на стройке, а свободного времени гораздо больше. Автомобиль новый, заказов море. </p>
    </div>
    <div>
      <p class="author author-3">
        Александр Ушаков<br>
        <span class="sub">водитель Uber</span>
      </p>
      <p class="pro">Работал во многих местах, здесь самая низкая комиссия.</p>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
