<% var data = {
title: "О компании",
tel: "+7 (911) <span>928-51-61</span>",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/banner.html').default)(data) %>

<div class="container">
    <h1>Соглашение на обработку персональных данных</h1>
    <p>(редакция от 18.10.2018г.)</p>
    <p>
        Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте mir.ru (далее – Сайт), путем заполнения полей онлайн-заявки (регистрации) Пользователь:
        <br>
        - подтверждает , что указанные им персональные данные принадлежат лично ему;<br>
        - признает и подтверждает, что он внимательно и в полном объеме ознакомился с настоящим Соглашением и содержащимися в нем условиями обработки его персональных данных, указываемых им в полях регистрации на Сайте;<br>
        - признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных ему понятны;<br>
        - дает согласие на обработку ООО «Мир» (далее Оператор») предоставляемых персональных данных в целях регистрации Пользователя на Сайте;<br>
        - выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.<br>
        - Пользователь свободно, своей волей и в своем интересе выражает свое безусловное согласие на обработку его персональных данных.<br>
        Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п.3ч.1 ст.3 Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе. Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.<br>
        Персональные данные – любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу.<br>
        Настоящее Согласие выдано Пользователем на обработку следующих персональных данных:<br>
        - Фамилия Имя Отчество (полностью)<br>
        - Телефон;<br>
        - Адрес регистрации;<br>
        - Банковские реквизиты;<br>
        - Данные документа удостоверяющего личность Пользователя;<br>
        -Данные места регистрации Пользователя;<br>
        - Фото или скан первой и обратной стороны свидетельства о праве собственности на автомобиль (или иной документ подтверждающий право владения автомобилем);<br>
        - Фото или скан ПТС (первой и обратной страницы);<br>
        - Марка, модель автомобиля;<br>
        - Государственный регистрационный знак автомобиля.
    </p>
    <p>
        Согласие дано Оператору для совершения следующих действий с персональными данными Пользователя с использованием средств автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, а так же осуществление любых иных действий, предусмотренных действующим законодательством РФ как неавтоматизированным, так и автоматизированными способами.<br>
        Данное согласие дается оператору для обработки персональных данных Пользователя в следующих целях:<br>
        - предоставление мне услуг/работ;<br>
        - направление в мой адрес уведомлений, касающихся предоставляемых услуг/работ;<br>
        - подготовка и направление ответов на мои запросы;<br>
        - направление в мой адрес информации, в том числе и рекламной, о мероприятиях/товарах/услугах/работах Оператора.<br>
    </p>
    <p>
        Настоящее согласие действует бессрочно с момента предоставления данных и может быть отозвано Пользователем путем подачи заявления администрации Сайта с указанием данных, определенных ст. 14 Закона «О персональных данных». Отзыв согласия на обработку персональных данных может быть осуществлен  путем направления соответствующего уведомления в простой письменной форме на адрес электронной почты ______________. В случае отзыва Пользователем согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без его согласия при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 11 Федерального закона №152-ФЗ «О персональных данных от 27.06.2006г.<br>
        Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.<br>
        Действующая редакция Соглашения всегда находиться на странице по адресу: _________.<br>
        К настоящему Соглашению и отношениям между Пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению материальное и процессуальное право Российской Федерации.<br>
    </p>
    <div class="ico-block-5">
        <div class="ico-1">Свободный график<span>Вы сами решаете когда и сколько работать!</span></div>
        <div class="ico-2">Никаких планов<span>Мы не ставим дневных / суточных / недельных / месячных планов!</span></div>
        <div class="ico-3">Поддержка 24/7<span>Круглосуточная диспетчерская и техническая поддержка!</span></div>
        <div class="ico-4">Лицензия такси<span>Поможем быстро и надежно оформить лицензию!</span></div>
        <div class="ico-5">Быстро подключим<span>Подключим Вас за 30 минут <span class="green">без визита в офис</span>.</span></div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="row partners">
        <div class="col-sm-4">
            <div class="logo-partner">
                <img src="./img/gett.png" alt="Gett">
            </div>
            <a href="/podklyuchenie-k-gett.html">
                <div class="info-partner img-1">
                    <div class="title">Подключение<br> к Gett</div>
                    <ol>
                        <li>Оставляете заявку на сайте</li>
                        <li>Отправляете документы</li>
                        <li>Начинаете зарабатывать</li>
                    </ol>
                    <div class="commission">
                        Комиссия c заказов
                        <span>Gett - 3%</span>
                    </div>
                    <span class="btn-blue">Подключиться<br> к Gett</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <div class="logo-partner">
                <img src="./img/uber.png" alt="Uber">
            </div>
            <a href="http://aero-in.ru/connect/uber.html">
                <div class="info-partner img-2">
                    <div class="title">Подключение<br> к Uber</div>
                    <ol>
                        <li>Оставляете заявку на сайте</li>
                        <li>Отправляете документы</li>
                        <li>Начинаете зарабатывать</li>
                    </ol>
                    <div class="commission">
                        Комиссия c заказов
                        <span>Uber - 0%<br></span>
                    </div>
                    <span class="btn-blue">Подключиться<br> к Uber</span>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <div class="logo-partner">
                <img src="./img/ya-taxi.png" alt="Яндекс.Такси">
            </div>
            <a href="/podklyuchenie-k-yandex-taxi.html">
                <div class="info-partner img-3">
                    <div class="title">Подключение<br> к Яндекс.Такси</div>
                    <ol>
                        <li>Оставляете заявку на сайте</li>
                        <li>Отправляете документы</li>
                        <li>Начинаете зарабатывать</li>
                    </ol>
                    <div class="commission">
                        Комиссия c заказов
                        <span>Я.Такси - 0%</span>
                    </div>
                    <span class="btn-blue">Подключиться<br> к Яндекс.Такси</span>
                </div>
            </a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
