<% var data = {
title: "Работа в гет такси, отзывы о подключении водителей в Санкт-Петербурге",
tel: "+7 (911) <span>928-51-61</span>",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/banner.html').default)(data) %>

<div class="container">
	<h1>Подключение к Gett </h1>
	<p>Работа в Gett - отличная возможность получить дополнительный доход для
		автовладельцев. Гетт - приложение для заказа такси в 120 городах 4
		стран.</p>
	<p>Высокая стоимость минимального заказа, вежливые клиенты, уникальный
		уровень сервиса для водителя.</p>
	<div class="ico-block-5">
		<div class="ico-1">Свободный график<span>Вы сами решаете когда и сколько работать!</span></div>
		<div class="ico-2">Никаких планов<span>Мы не ставим дневных / суточных / недельных / месячных планов!</span></div>
		<div class="ico-3">Поддержка 24/7<span>Круглосуточная диспетчерская и техническая поддержка!</span></div>
		<div class="ico-4">Лицензия такси<span>Поможем быстро и надежно оформить лицензию!</span></div>
		<div class="ico-5">Быстро подключим<span>Подключим Вас за 30 минут <span class="green">без визита в офис</span>.</span></div>
	</div>
	<div class="btn-block-2"><a class="scroll btn btn-md" href="http://aero-in.ru/connect/.document">Работать на своём авто</a> <a class="scroll btn btn-md" href="http://aero-in.ru/connect/.document">Работать на авто компании</a></div>
	<h4>Как начать работать?</h4>
	<p>Для подключения к Gett вам нужно пройти online-обучение <br>
		Ссылка на обучение - <a href="https://driver.gett.ru/education/exam/up/podklyuchenie-k-gett.html">https://driver.gett.ru/education/exam/up/</a></p>
	<!--<p>Подключение - дело техники: присоединяйтесь к системе через авторизованного партнера, загружайте приложение - и начинайте работу. Gett исключает прямое сотрудничество, вместо этого - позволяет получить юридическую защиту и хорошую техническую и консалтинговую поддержку. Начинайте работать с нами: вас ждут лучшие условия!</p>-->
	<!--<div class="row btns">-->
		<!--<div class="col-sm-6 text-right"><a href="https://play.google.com/store/apps/details?id=com.gettaxi.dbx.android" target="_blank" title="Загрузи приложение Gett Drivers в Google play"><img alt="" src="../img/googleplay.png" title=""></a></div>-->
		<!--<div class="col-sm-6"><a href="itms-services://?action=download-manifest&amp;url=https://alpha.gett.com/driverbox/DriverBox-iOS/version_9.3/22/DriverBox.plist" target="_blank" title="Загрузи приложение Gett Driver в AppStore"><img alt="" src="../img/appstore.png" title=""></a></div>-->
	<!--</div>-->
	<!--<p>Для подключения к Gett вам нужно пройти обучение-тестирование.<br>-->
		<!--Ссылка на обучение - <a href="https://driver.gett.ru/education/exam/up/" rel="nofollow" target="_blank">https://driver.gett.ru/education/exam/up/</a>-->
	<!--</p>-->
	<p>Далее для того чтобы подключиться к Gett необходимо подгрузить
		фото/сканы документов в полях, представленных ниже.</p>
	<!--<p>Чтобы подключить водителя к Gett водитель должен предварительно пройти онлайн тестирование и после того как он прошел тестирование, прислать нам дату обучения вместе с документами.</p>-->
	<div class="requirements">
		<div class="req">
			<div class="title">Требования к водителю</div>
			<ul class="list-yes-no">
				<li>Возраст от&nbsp;21&nbsp;года</li>
				<li>Права категории В</li>
			</ul>
		</div>
		<div class="req">
			<div class="title">Требования к автомобилю</div>
			<ul class="list-yes-no">
				<li>Минимальный год выпуска&nbsp;— 2011</li>
				<li>Количество дверей не&nbsp;менее 4</li>
				<li>Допускаются обклеенные машины</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" style="text-align: center">
			<div class="pay pay-1">
				<div class="title">Итоговая комиссия</div>
				<p>18% комиссия Gett + 2% комиссия МИР</p>
			</div>
		</div>
		<!--<div class="col-sm-6">-->
			<!--<div class="pay pay-2">-->
				<!--<div class="title">Оплата безналом</div>-->
				<!--<p>Комиссия GETT 17,7%</p>-->
				<!--<p>Наша комиссия с безнала 3%</p>-->
				<!--<p>Расчёт и выплаты на карту еженедельно (вт-ср)</p>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<div class="document">
		<div class="title">Для подключения потребуются документы</div>
		<div class="ico-doc">
			<div class="ico-1">Паспорт <span>Разворот с фотографией Прописка не нужна</span></div>
			<div class="ico-2">Водительское удостоверение <span>С двух сторон</span></div>
			<div class="ico-4">Свидетельство о регистрации транспортного средства <span>С двух сторон</span></div>
			<div class="ico-5">Фотография автомобиля <span>С четырех сторон</span></div>
			<div class="ico-7">Фотография водителя без верхней одежды <span>По пояс на светлом фоне</span></div>
		</div>
	</div>
</div>
<div class="container">
	<form id="gettForm">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group required">
					<label for="last-name">Фамилия</label>
					<input type="text" class="form-control" id="last-name" required>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group required">
					<label for="name">Имя</label>
					<input type="text" class="form-control" id="name" required>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group required">
					<label for="middle-name">Отчество</label>
					<input type="text" class="form-control" id="middle-name" required>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group required">
					<label for="city">Город</label>
					<select class="custom-select form-control" id="city" required>
						<option value=""></option>
						<option value="Москва">Москва</option>
						<option value="Санкт-Петербург">Санкт-Петербург</option>
						<option value="Нижний Новгород">Нижний Новгород</option>
						<option value="Уфа">Уфа</option>
						<option value="Красноярск">Красноярск</option>
						<option value="Челябинск">Челябинск</option>
						<option value="Омск">Омск</option>
						<option value="Пермь">Пермь</option>
						<option value="Самара">Самара</option>
						<option value="Новосибирск">Новосибирск</option>
						<option value="Екатеринбург">Екатеринбург</option>
						<option value="Сочи">Сочи</option>
						<option value="Краснодар">Краснодар</option>
						<option value="Ростов-на-Дону">Ростов-на-Дону</option>
						<option value="Воронеж">Воронеж</option>
						<option value="Казань">Казань</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group required">
					<label for="phone">Телефон</label>
					<input type="text" class="form-control" id="phone" name="phone" data-inputmask="'mask': '+7(999) 999-99-99'">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group required">
					<label for="email">E-mail</label>
					<input type="email" class="form-control" id="email">
				</div>
			</div>
		</div>
		<div class="upload-document-group">
			<div class="row">
				<div class="col-sm-4">
					<label class="required">Паспорт РФ (разворот с фото)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/pasport.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="required">Водительское удостоверение (лицевая сторона)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/vod-udost-front.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="required">Водительское удостоверение (обратная сторона)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/vod-udost-back.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label class="required">Свидетельство о регистрации ТС</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/svidet-regist.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="required">Страховой полис ОСАГО (лицевая сторона)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/strah-front.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="required">Страховой полис ОСАГО (обратная сторона)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/strah-back.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label class="required">Фото авто (полупрофиль с передней частью)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/photo-avto.jpeg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="required">Фото для личного профиля (на светлом фоне)</label>
					<div class="ubload-btn-group">
						<div class="float-left"	>
							<div class="file-upload">
								<label>
									<input type="file" name="file" class="input-uploade-file">
									<span>Выберите файл</span>
								</label>
							</div>
							<div class="file-name"></div>
						</div>
						<div class="float-left">
							<a href="../img/photo-profile.jpg" class="fancybox example">Пример</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Я согласен на обработку моих персональных данных в соответствии с условиями указанными по <a href="personal-data-processing-agreement.html">ссылке</a></label>
				</div>
			</div>
			<div class="col-sm-3 text-right">
				<button type="submit" class="btn btn-green">Отправить анкету</button>
			</div>
		</div>
	</form>
</div>
<div class="container">

	<div class="ico-block-reasons">
		<h2 class="text-center">5 причин работать с нами</h2>
		<div class="ico-1">Честные условия работы</div>
		<div class="ico-2">Прозрачное сотрудничество</div>
		<div class="ico-3">Низкая комиссия</div>
		<div class="ico-4">Надежная компания</div>
		<div class="ico-5">Всегда на связи</div>
	</div>
</div>
<div class="container">
	<p>Компания "МИР" является одним из лидеров среди партнеров крупнейших такси-агрегаторов (Gett, Яндекс.Такси, Ситимобил, Taxify). Бесспорно низкая комиссия парка-партнера - наш приоритет и гордость. А главное - все это без каких-либо тайных уловок и скрытых платежей.</p>
	<p>Сервисы такси не работают с водителями напрямую, поэтому для подключения необходимо выбрать парк-партнера, естественно, не забывая о том, чтобы он был хорошим и надежным. Крупнейшим партнером Gett, Яндекс.Такси, Ситимобил и Taxify в Санкт-Петербурге является ООО "МИР".</p>
	<p>Мы осуществляем простое и быстрое подключение к такси по, пожалуй, самым выгодным условиям на рынке. Скидки у партнёров - АЗС, мойки, связь - само собой разумеещееся.</p>
	<p>Если у вас нет собственного автомобиля - не беда. Мы предоставим автомобиль в аренду по вашим потребностям! </p>
	<p>Увеличить количество заказов - легко! ООО "МИР" - авторизованный подрядчик по брендированию сервисов Яндекс.Такси и Gett. Опять же - с самыми сладкими условиями.</p>
	<br>
	<h2>Отзывы</h2>
	<div class="reviews">
		<div>
			<p class="author author-1">
				Алексей Васильев<br>
				<span class="sub">водитель Gett</span>
			</p>
			<p class="pro">Работаю с МИР больше года, проблем нет, всегда копейка в копейку и в срок! </p>
		</div>
		<div>
			<p class="author author-2">
				Рустам Кадиров<br>
				<span class="sub">водитель Gett, Яндекс.Такси</span>
			</p>
			<p class="pro">Взял в аренду Skoda Rapid, зарабатываю больше чем на стройке, а свободного времени гораздо больше. Автомобиль новый, заказов море. </p>
		</div>
		<div>
			<p class="author author-3">
				Александр Ушаков<br>
				<span class="sub">водитель Uber</span>
			</p>
			<p class="pro">Работал во многих местах, здесь самая низкая комиссия.</p>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
